.HaikuModal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: auto;
    background-color: rgba(93,91,91, 0.5);
}

.modalInner {
    width: 40%;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    height: 50%;
    box-shadow:  6px 6px 12px #5a5a5a,
    -6px -6px 12px #a6a6a6;
}